
<div style="margin-top:30px">
	<div class="row">
		<div class= "col-md-6 offset-md-3">
			<%= render 'form', post: @post%>
			
			<%= link_to 'back', posts_path, class:"btn btn-info"%>
		</div>
		
	</div>
	
</div>